body {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}

main {
    width: 42rem;
    height: 20rem;
    border: solid 1px black;
    font-size: 2rem;
    background-color: rgb(172, 172, 172);
}

h3 {
    margin-left: 1rem;
}

p {
    margin-left: 1rem;
}